<!-- views/signup.ejs -->
<!doctype html>
<html>

<head>
	<title>Chatroom Register</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

	<script src="jquery-1.11.1.js"></script>
	<script src="jquery.min.js"></script>
	<script src="jquery.form.min.js"></script>


	<!-- load fontawesome -->
	<style>
		body {
			padding-top: 80px;
		}
		/*#video {
			width: 400px;
			height: 400px;
		}
		
		#canvas {
			width: 400px;
			height: 400px;
		}*/
		
		#profilepic {
			width: 200px;
			height: 200px;
		}
	</style>
</head>

<body>
	<div class="container">
		<div class="col-sm-6 col-sm-offset-3">
			<h1><span class="fa fa-sign-in"></span> Registration</h1>
			<div id="profile">
				<label>Profile Photo: </label><br>
				<img id="profilepic" src="default_profile.png">


			</div>


			<div id=choose_container>
				<button id=chs_webcam class="btn btn-default">Take a snap via Webcam</button>
				<button id=chs_upload class="btn btn-default">Upload a File</button>
			</div>
			<div id=webcam_container>
				<table>
					<tr>
						<td>
							<canvas id="canvas" width="200" height="200"></canvas>
							<td>
								<video id="video" width="200" height="200" autoplay></video>
					</tr>
				</table>
				<!--<td><button id="webcam_button" onClick="shot()"> Take a Photo-->
				<td><button id="snap" class="btn btn-default">Snap Photo</button>
					<button id="use" class="btn btn-default">Use this
								<td><button id="returnFromWebcam"class="btn btn-default">Other Option
			</div>

			<div id=upload_container>
			
				<input value="Media" id="media" name = "media"type="file"class="btn btn-default">
				<p id="upload-status"></p>
  <p id="progress"></p>
  		<pre id="result"></pre>
				<button id="upload"class="btn btn-default">Upload
			<button id="returnFromUpload"class="btn btn-default">Other Option
			</div>
			<!-- LOGIN FORM -->
			<form action="" method="post" enctype="multipart/form-data">
				<fieldset class="form-group">
						<div class="form-group">
						 <!--<p id=image name=image>url<p>-->
							 <input type="text" class="form-control" name="image" id="image">
						</div>
					<div class="form-group">
						<label>Username</label>
						<input type="text" class="form-control" name="username">
					</div>
					<div class="form-group">
						<label>Password</label>
						<input type="password" class="form-control" name="password">
					</div>

					<button type="submit" class="btn btn-warning btn-lg" id="btn_register">Register</button>
					</fieldset>
					<p id="message" style="color:red"><br>
						<%= message%>
					</p>
					</form>

					<hr>
					<p>Already have an account? <a href="/login">Login</a></p>
					<p>Or go <a href="/">home</a>.</p>

			</div>

		</div>
		<script src="registerGUI.js"></script>
</body>


</html>